a {
  color: #000;
}

.bodyContainer {
  padding: 14rem 0 0 0;
  width: 90%;
  margin: 0 auto;
}

.body__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.icons {
  display: flex;
}

.board__top-grid,
.board__top-row {
  width: 3rem;
  height: 3rem;
  margin-right: 0.8rem;
}

.searchContainer {
  display: flex;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 2px;
}

.searchIcon {
  height: 3rem;
}

.searchInput {
  margin-left: 5px;
  font-size: 2.5rem;
  width: 18rem;
  border: none;
}
.searchInput:focus {
  outline: none;
}

.body__contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diary {
  margin: 2rem;
  width: 70vw;
  border-radius: 1.5rem;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
  display: flex;
}

.diary:hover {
  transform: translateY(-2%);
  box-shadow: 4px 4px 4px rgb(0 0 0 /50%);
}

.right {
  flex: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex: none;
}

.diary__title {
  font-size: 19px;
  font-weight: 600;
  white-space: nowrap;
  width: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}

.diary__date {
  font-size: 16px;
  white-space: nowrap;
  width: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}

.diary__img {
  flex: none;
  height: 20rem;
  width: 20rem;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  object-fit: cover;
}

.diary__noneBackground {
  flex: none;
  height: 20rem;
  width: 20rem;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  position: relative;
  background-image: url("../media/noneImg_back.jpg");
}

.diary__noneImg {
  width: 5rem;
  position: absolute;
  top: 7.5rem;
  left: 7.5rem;
}

.contentwrapper {
  flex: auto;
  display: flex;
  align-items: center;
}

.diary__content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  font-size: 2rem;
}
