.bodyContainer {
  padding: 14rem 0 0 0;
  width: 90%;
  margin: 0 auto;
}

.body__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.icons {
  display: flex;
}

.board__top-grid,
.board__top-row {
  width: 3rem;
  height: 3rem;
  margin-right: 0.8rem;
}

.searchInput {
  font-size: 2rem;
  width: 18rem;
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 5px;
  /* box-shadow: 2px 2px 4px rgb(0 0 0 / 25%); */
}
.searchInput:focus {
  outline: none;
}
