html, body { margin: 0; padding: 0; height: 100%; }

@media screen and (min-width: 1366px) {
    html {
      font-size: 10px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1365px) {
    html {
      font-size: 8px;
    }
}
@media screen and (min-width: 500px) and (max-width: 1024px) {
    html {
      font-size: 6px;
    }
}
@media screen and (max-width: 500px) {
    html {
      font-size: 6px;
    }
}
.header { width: 100%; height: 90px;}
.footer { width: 100%; height: 7%; clear: both; }

body{
    background-color: #104c7c;
    margin: 0;
    padding: 0;
    height: 100%;
}

.loginForm {
    position:absolute;
    width:30rem;
    height:30rem;
    text-align:center;
    top:65%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 1.5rem;
    font-family: 'Spoqa Han Sans Neo', sans-serif;
}

.idForm{
    border-bottom: 0.2rem solid #adadad;
    margin: 3rem;
    padding: 1rem 1rem;
}
    
.passForm{
    border-bottom: 0.2rem solid #adadad;
    margin: 3rem;
    padding: 1rem 1rem;
}
    
.id {
    width: 100%;
    border:none;
    outline:none;
    color: #fcf8bd;
    font-size:1.6rem;
    height:2.5rem;
    background: none;
}
    
.pw {
    width: 100%;
    border:none;
    outline:none;
    color: #fcf8bd;
    font-size:1.6rem;
    height:2.5rem;
    background: none;
}
    
.btn {
    position:relative;
    left:40%;
    transform: translateX(-50%);
    margin-bottom: 4rem;
    width:80%;
    height:4rem;
    background: #fcf8bd;
    background-position: left;
    background-size: 200%;
    color:#104c7c;
    font-weight: bold;
    border:none;
    cursor:pointer;
    display:inline;
}
    
.btn:hover {
    background-position: right;
    background: #fdf690;
}

.join{
    position:absolute;
    top: 78%;
    left: 50%;
    margin-left: -3.0rem;
}

.sns-login{
    position: absolute;
    top: 84%;
    left:50%;
    margin-left: -16.5rem;
}

a:link {
    color : #d4d2af;
    text-decoration: none;
}
a:visited {
    color : #d4d2af;
    text-decoration: none;
}
a:hover {
    color : #fcf8bd;
    text-decoration: underline;
}
a:active {
    color : #fcf8bd;
    text-decoration: none;
}