<!DOCTYPE html>
<html lang="en">
  <head>
    <title>달:로그</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <link rel="stylesheet" type="text/css" href="../css/board_row.css" />
    <link
      href="https://spoqa.github.io/spoqa-han-sans/"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <script>
        console.dir('<%=profile%>')
        let profile = "<%=JSON.stringify(profile)%>";
        if(profile){
          profile = profile.replaceAll('&#34;','\"');
          profile = JSON.parse(profile);
          console.dir(profile);
        }
    </script>
    <script src="./board_row.js" defer></script>
    <script src="../user/title.js" defer></script>
    <header class="header">
      <div class="wrapper">
        <img
          src="../media/logo4.jpg"
          class="logo"
          onclick="location.href='/'"
          style="cursor: pointer"
        />
        <form action="/" method="post" id="title_form">
            <input
              id="titleInput"
              name="titleInput"
              class="dalog-title"
              type="text"
              value="여기를 눌러 타이틀을 수정하세요!"
              onfocus="document.getElementById('title-submit').style.display='block';"
            />
            <input type="image" id="title-submit" class="title-submit" src="../media/title-edit.png" value="" />
        </form>
        <script>
            if(profile){
              if("<%=title%>" != "")
                document.getElementById("titleInput").value = "<%=title%>";
            }
        </script>
        <nav>
          <ul class="main-menu">
            <li>
              <a
                href="/diary/write"
                target="_self"
                style="text-decoration: none; cursor: pointer"
              >
                <img
                  src="../media/write.png"
                  style="cursor: pointer;"
                  alt="글쓰기"
                />
              </a>
            </li>
            <li>
              <a
                href="/diary/board_row"
                target="_self"
                style="text-decoration: none; cursor: pointer"
              >
                <img
                  src="../media/board.png"
                  style="cursor: pointer;"
                  alt="게시판"
                />
              </a>
            </li>
            <li>
              <a href="#"
                ><img
                  src="../media/profile.png"
                  style="cursor: pointer;"
              /></a>
              <ul class="sub-menu">
                <li>
                  <a
                    href="/user/modify"
                    target="_self"
                    style="text-decoration: none; cursor: pointer"
                    >정보수정</a
                  >
                </li>
                <li>
                  <a
                    href="/user/logout"
                    target="_self"
                    style="text-decoration: none; cursor: pointer"
                    >로그아웃</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="bodyContainer">
      <div class="body__top">
        <div class="icons">
          <a href="/diary/board_grid">
            <img class="board__top-grid" src="../media/grid_icon.svg" />
          </a>
          <a href="/diary/board_row">
            <img class="board__top-row" src="../media/row_icon.svg" />
          </a>
        </div>
        <div class="searchContainer">
          <img src="../media/icon_search.png" class="searchIcon" />
          <input class="searchInput" placeholder="검색" />
        </div>
      </div>

      <div class="body__contents" id="contents"></div>
    </div>
  </body>
</html>
