<!DOCTYPE html>
<html lang="en">
  <head>
    <title>달:로그</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/Questyle.css" />
    <link rel="stylesheet" type="text/css" href="css/calstyle.css" />
    <link
      href="https://spoqa.github.io/spoqa-han-sans/"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <script>
        console.dir('<%=profile%>')
        let profile = "<%=JSON.stringify(profile)%>";
        if(profile){
        profile = profile.replaceAll('&#34;','\"');
        profile = JSON.parse(profile);
        console.dir(profile);
        }
    </script>
    <header class="header">
      <div class="wrapper">
        <img
          src="media/logo4.jpg"
          class="logo"
          onclick="location.href='/'"
          style="cursor: pointer"
        />
        <!--<p id="title" class="dalog-title"></p>-->
        <input
          id="titleInput"
          class="dalog-title"
          type="text"
          value="유진이의 일기?"
        />
        <nav>
          <ul class="main-menu">
            <li>
              <a
                href="/diary/write"
                target="_self"
                style="text-decoration: none; cursor: pointer"
              >
                <img
                  src="media/write.png"
                  class="write"
                  style="cursor: pointer"
                  alt="글쓰기"
                />
              </a>
            </li>
            <li>
              <a
                href="/diary/board_grid"
                target="_self"
                style="text-decoration: none; cursor: pointer"
              >
                <img
                  src="media/board.png"
                  class="board"
                  style="cursor: pointer"
                  alt="게시판"
                />
              </a>
            </li>
            <li id="after_login">
              <a href="#"
                ><img src="media/profile.png" style="cursor: pointer"
              /></a>
              <ul class="sub-menu">
                <li>
                  <a
                    href="/user/modify"
                    target="_self"
                    style="text-decoration: none; cursor: pointer"
                    >정보수정</a
                  >
                </li>
                <li>
                  <a
                    href="/user/logout"
                    target="_self"
                    style="text-decoration: none; cursor: pointer"
                    >로그아웃</a
                  >
                </li>
              </ul>
            </li>
            <li id="before_login">
              <a href="#"
                ><img src="media/profile.png" style="cursor: pointer"
              /></a>
              <ul class="sub-menu">
                <li>
                  <a
                    href="/user/login"
                    target="_self"
                    style="text-decoration: none; cursor: pointer"
                    >로그인</a
                  >
                </li>
                <li>
                  <a
                    href="/user/join"
                    target="_self"
                    style="text-decoration: none; cursor: pointer"
                    >회원가입</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="Area">
      <div class="Box">
        <div class="Question">
         
          <select name="selectQuestion" id="selectQuestion">
            <option value="" selected="selected">질문을 선택해주세요</option>
            <option value="">오늘 맛있게 먹은 음식이 있나요?</option>
            <option value="">지금 어떤 음식이 먹고 싶나요?</option>
            <option value="">오늘 짜증나는 일이 있었나요?</option>
            <option value="">오늘 화나는 일이 있었나요?</option>
            <option value="">오늘 기쁜 일이 있었나요?</option>
            <option value="">오늘 본 재밌었던 유튜브 영상은 무엇인가요?</option>
            <option value="">최근에 본 영화는 무엇인가요? 어땠나요?</option>
            <option value="">요즘 보고싶은 영화는 무엇인가요?</option>
            <option value="">최근에 본 드라마는 무엇인가요? 어땠나요?</option>
            <option value="">요즘 보고싶은 드라마는 무엇인가요?</option>
            <option value="">요즘 유행하는 노래는 무엇인가요?</option>
            <option value="">요즘 몰입하고 있는 일이 있나요?</option>
            <option value="">요즘 꽂힌 노래는 무엇인가요?</option>
            <option value="">사고 싶은 물건이 있나요?</option>
            <option value="">오늘 산 물건은 마음에 드나요?</option>
            <option value="">요즘 좋아하는 연예인이 있나요?</option>
            <option value="">요즘 인기 많은 연예인은 누구인가요?</option>
            <option value="">요즘 좋아하는 사람 있나요?( ͡° ͜ʖ ͡°) </option>
            <option value="">현재 가장 큰 고민은 무엇인가요?</option>
            <option value="">100억이 주어졌을 때 어떤 것을 제일 하고 싶나요?</option>
            <option value="">오늘 컨디션이 좋았나요?</option>
            <option value="">오늘 하루를 한 단어로 표현하자면?</option>
            <option value="">오늘 누구를 만났나요?</option>
          </select>
        </div>
        <div class="Answer">
          <p><input type="text" placeholder="A. " class="WriteAnswer" /></p>
          <input type="button" value="등록" class="buttons" />
        </div>
      </div>
    </div>

    <div class="calendar">
      <div class="header">
        <div class="year-month"></div>
        <div class="nav">
          <button class="nav-btn go-prev" onclick="prevMonth()">&lt;</button>
          <button class="nav-btn go-today" onclick="goToday()">Today</button>
          <button class="nav-btn go-next" onclick="nextMonth()">&gt;</button>
        </div>
      </div>

      <div class="main">
        <div class="days">
          <span class="day">일</span><span class="day">월</span
          ><span class="day">화</span><span class="day">수</span
          ><span class="day">목</span><span class="day">금</span
          ><span class="day">토</span>
        </div>
        <div class="dates"></div>
      </div>
    </div>
    <div class="modal hidden">
      <div class="modal_background"></div>
      <div class="modal_container">
        <div class="modal_date"></div>
        <textarea
          class="modal_content"
          placeholder="메모를 입력하세요"
        ></textarea>
        <button class="modal_closeBtn">- close -</button>
      </div>
    </div>
    <script src="diary/calendarjs.js"></script>
  </body>
  <script>
    if(!profile){
      console.log('profile 없음')
      document.getElementById('before_login').style.display = 'block';
      document.getElementById('after_login').style.display = 'none';
    } else {
      console.log('profile 있음')
      document.getElementById('before_login').style.display = 'none';
      document.getElementById('after_login').style.display = 'block';
    }
  </script>
</html>
