<!DOCTYPE html>
<html lang="en">
  <head>
    <title>달:로그</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/Questyle.css" />
    <link rel="stylesheet" type="text/css" href="css/calstyle.css" />
    <link
      href="https://spoqa.github.io/spoqa-han-sans/"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap"
      rel="stylesheet"
    />
    <script src="./user/title.js"></script>
  </head>
  <body>
    <script>
        console.dir('<%=profile%>')
        let profile = "<%=JSON.stringify(profile)%>";
        if(profile){
        profile = profile.replaceAll('&#34;','\"');
        profile = JSON.parse(profile);
        console.dir(profile);
        }
    </script>
    <header class="header">
      <div class="wrapper">
        <img
          src="media/logo4.jpg"
          class="logo"
          onclick="location.href='/'"
          style="cursor: pointer"
        />
        <form action="/title" method="post">
          <input
            id="titleInput"
            name="titleInput"
            class="dalog-title"
            type="text"
            value="여기를 눌러 타이틀을 수정하세요!"
            onfocus="document.getElementById('title-submit').style.display='block'"
            onblur="document.getElementById('title-submit').style.display='none'"
          />
          <input type="image" id="title-submit" class="title-submit" src="./media/title-edit.png" value="" />
        </form>
        <nav>
          <ul class="main-menu">
            <li>
              <a
                href="/diary/write"
                target="_self"
                style="text-decoration: none; cursor: pointer"
              >
                <img
                  src="media/write.png"
                  class="write"
                  style="cursor: pointer"
                  alt="글쓰기"
                />
              </a>
            </li>
            <li>
              <a
                href="/diary/board_grid"
                target="_self"
                style="text-decoration: none; cursor: pointer"
              >
                <img
                  src="media/board.png"
                  class="board"
                  style="cursor: pointer"
                  alt="게시판"
                />
              </a>
            </li>
            <li id="after_login">
              <a href="#"
                ><img src="media/profile.png" style="cursor: pointer"
              /></a>
              <ul class="sub-menu">
                <li>
                  <a
                    href="/user/modify"
                    target="_self"
                    style="text-decoration: none; cursor: pointer"
                    >정보수정</a
                  >
                </li>
                <li>
                  <a
                    href="/user/logout"
                    target="_self"
                    style="text-decoration: none; cursor: pointer"
                    >로그아웃</a
                  >
                </li>
              </ul>
            </li>
            <li id="before_login">
              <a href="#"
                ><img src="media/profile.png" style="cursor: pointer"
              /></a>
              <ul class="sub-menu">
                <li>
                  <a
                    href="/user/login"
                    target="_self"
                    style="text-decoration: none; cursor: pointer"
                    >로그인</a
                  >
                </li>
                <li>
                  <a
                    href="/user/join"
                    target="_self"
                    style="text-decoration: none; cursor: pointer"
                    >회원가입</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="Area">
      <div class="Box">
        <div class="Question">
          <p>Q. (질문)</p>
        </div>
        <div class="Answer">
          <p><input type="text" placeholder="A. " class="WriteAnswer" /></p>
          <input type="button" value="등록" class="buttons" />
        </div>
      </div>
    </div>

    <div class="calendar">
      <div class="header">
        <div class="year-month"></div>
        <div class="nav">
          <button class="nav-btn go-prev" onclick="prevMonth()">&lt;</button>
          <button class="nav-btn go-today" onclick="goToday()">Today</button>
          <button class="nav-btn go-next" onclick="nextMonth()">&gt;</button>
        </div>
      </div>

      <div class="main">
        <div class="days">
          <span class="day">일</span><span class="day">월</span
          ><span class="day">화</span><span class="day">수</span
          ><span class="day">목</span><span class="day">금</span
          ><span class="day">토</span>
        </div>
        <div class="dates"></div>
      </div>
    </div>
    <div class="modal hidden">
      <div class="modal_background"></div>
      <div class="modal_container">
        <div class="modal_date"></div>
        <textarea
          class="modal_content"
          placeholder="메모를 입력하세요"
        ></textarea>
        <button class="modal_closeBtn">- close -</button>
      </div>
    </div>
    <script src="diary/calendarjs.js"></script>
  </body>
  <script>
    if(!profile){
      console.log('profile 없음')
      document.getElementById('before_login').style.display = 'block';
      document.getElementById('after_login').style.display = 'none';
    } else {
      console.log('profile 있음')
      document.getElementById('before_login').style.display = 'none';
      document.getElementById('after_login').style.display = 'block';
    }
  </script>
</html>
