<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>로그인</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../css/login.css">
        <link href='https://spoqa.github.io/spoqa-han-sans/' rel='stylesheet' type='text/css'>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap" rel="stylesheet">
    </head>
    <body>
        <script>
            console.dir('<%=message%>')
        </script>
        <img src="../media/logo.jpg" style="margin-left: auto; margin-right: auto; display: block; width:350px; height:350px;"/>
        <form action="/user/login" method="post" class="loginForm">
            <div class="idForm">
                <input type="text" class="id" placeholder="ID">
            </div>
            <div class="passForm">
                <input type="password" class="pw" placeholder="PW">
            </div>
            <button type="button" class="btn" >
                로그인
            </button>
        </form>
        <!--회원가입-->
        <div class="join">
            <a href="/user/join" target="_self" style="cursor: pointer; font-family: 'Noto Serif KR', sans-serif; font-size: 15px; margin-top: 18rem;">
                회원가입
            </a>
        </div>
        <!--소셜 로그인 -->
        <div class="sns-login">
            <a href="/login/naver" target="_self" style="text-decoration: none;">
                <img src="../media/naver-login.png" style="width: 7rem; height: 7rem; display:inline-block;">
            </a>
            <a href="/login/kakao" target="_self" style="text-decoration: none;" class="kakao-login">
                <img src="../media/kakao-login.png" style="width: 7rem; height: 7rem; display:inline-block; margin-left: 0.4rem;">
            </a>
            <a href="/login/google" target="_self" style="text-decoration: none;">
                <img src="../media/google-login.png" style="width: 7rem; height: 7rem; display:inline-block; margin-left: 0.4rem;">
            </a>
        </div>
    </body>


</html>