<!DOCTYPE html>
<html lang="en">

<head>
    <title>달:로그</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <link rel="stylesheet" type="text/css" href="../css/write.css">
 
    <link href="https://spoqa.github.io/spoqa-han-sans/" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="../summernote/summernote-lite.js"></script>
    <script src="../summernote/summernote-ko-KR.js"></script>
    <link rel="stylesheet" href="../summernote/summernote-lite.css">

    <link rel="stylesheet" href="../css/jquery-ui.css">
    <!--<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">-->
    <script src="./weather.js"></script>
    <script>
        $(function () {
            $('#input_photo').change(function () {
                readURL(this);
            })
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    $('#today_photo').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
</head>

<body>
    <script>
        console.dir('<%=profile%>')
        let profile = "<%=JSON.stringify(profile)%>";
        if (profile) {
            profile = profile.replaceAll('&#34;', '\"');
            profile = JSON.parse(profile);
            console.dir(profile);
        }
    </script>
    <header class="header">
        <div class="wrapper">
            <img src="../media/logo4.jpg" class="logo" onclick="location.href='/'" style="cursor: pointer" />
            <form action="/" method="post" id="title_form">
                <input
                    id="titleInput"
                    name="titleInput"
                    class="dalog-title"
                    type="text"
                    value="메인페이지에서만 수정이 가능합니다!"
                    onfocus="document.getElementById('title-submit').style.visibility='visible';document.getElementById('title-submit').style.opacity=1;"
                    onblur="document.getElementById('title-submit').style.opacity=0;"
                    title="메인페이지에서만 수정이 가능합니다."
                    disabled
                />
                <input type="image" id="title-submit" class="title-submit" src="../media/title-edit.png" value="" onclick="document.getElementById('title_form').submit();"/>
            </form>
            <script>
                if(profile){
                  document.getElementById("titleInput").value = profile.title;
                }
            </script>
            <nav>
                <ul class="main-menu">
                    <li>
                        <a href="/diary/write" target="_self" style="text-decoration: none; cursor: pointer">
                            <img src="../media/write.png" class="write" style="cursor: pointer;" alt="글쓰기" />
                        </a>
                    </li>
                    <li>
                        <a href="/diary/board_grid" target="_self" style="text-decoration: none; cursor: pointer">
                            <img src="../media/board.png" class="board" style="cursor: pointer;" alt="게시판" />
                        </a>
                    </li>
                    <li>
                        <a href="#"><img src="../media/profile.png" style="cursor: pointer;" /></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="/user/modify" target="_self"
                                    style="text-decoration: none; cursor: pointer">정보수정</a>
                            </li>
                            <li>
                                <a href="/user/logout" target="_self"
                                    style="text-decoration: none; cursor: pointer">로그아웃</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>


    <div id="container">
        <div id="wrap">
            <form action="/diary/write" method="POST" id="write_form" enctype="multipart/form-data" onsubmit="return onSubmit()">
                <div id="inner_wrap">
                    <div id="write_date">
                        <div id="date">
                            <input type="text" class="datepicker" id="datepicker" name="date" onchange="changeWeather()">
                        </div>

                        <div id="weather_box">
                            
                            <div id="weather_icon">                             
                                <div id="temperature">
                                    <div id="temper_night">
                                        <input class="max" type="text" name="temp_low" id="input_temper_night" readonly />
                                    </div>
                                    <div id="temper_day">
                                        <input class="min" type="text" name="temp_high" id="input_temper_day" readonly />
                                    </div>
                                </div>                                
                                
                                <div id="weather" class>
                                    <img class="main" id="currentWeather" src="" title="" alt="사진없음">
                                    <select id="weather_select" name="weather" onchange="weather_select_change()">
                                        <option value="sun">맑음</option>
                                        <option value="cloud">흐림</option>
                                        <option value="rain">비</option>
                                        <option value="snow">눈</option>
                                        <option value="thunderstorm">천둥 번개</option>
                                    </select>
                                </div>

                            </div>

                            <div id="manual_button">
                                <button type="button" onclick="changeWeather()">변경</button>
                            </div>

                        </div>
                        
                    </div>
                    <div id="write_title">
                        <input type="text" id="input_title" name="title" placeholder="제목을 입력해주세요">
                    </div>
                    <div id="attach_photo">
                        <label for="input_photo" title="사진 첨부"></label>
                        <input type="file" id="input_photo" name="photo">
                        <img src="" id="today_photo">
                    </div>
                    <div id="write_content">
                        <textarea name="content" id="input_content" name="content" placeholder="내용을 입력해주세요"></textarea>
                    </div>
                </div>
                <div id="submit_button">
                    <input type="submit" id="submit_btn" value="등록">
                </div>
            </form>
        </div>
    </div>
</body>
<script src="./write.js"></script>
</html>