/*.weather{
    float  : right;
    text-align : right; 
    background-color:black;

}*/

.horizon {
    display: flex; 
    justify-content: space-around;
}

.details{
    font-size: 1.1em;
}

.details>span{
    font-weight: bold;
    color:grey;
    font-family: 'Slabo 27px', serif;
}

.mainweather{
    display: flex; 
    flex-direction : column; 
    justify-content: center;
    font-size: 1.9em;
    font-family: 'Pacifico', cursive;
}

.weather_top{
    margin-top: 25px;
}

.cal_table {
    width : 200px;
    text-align: center;
    border : 1px solid black;
}

.cal_days {
    display: flex;
    border : 1px solid black;
    padding : 5px;
    width: 270px;
}

.CalDay{
    margin: 0px 10px;
    width: 17px;    
    text-align: center;
}

.cal_header{
    display: flex;
    align-items: center;
    justify-content:space-around;
    border : 1px solid black;
    background-color: black;
    padding : 2px 5px;
    width: 270px;
    color: skyblue;
    font-weight: bold;
    font-size: 1.2rem;
}

.cal_dates{
    /* display: flex; */
    border : 1px solid black;
    padding : 5px;
    width: 270px;
}

.Week{
    display: flex;
    padding : 5px;
    justify-content:flex-start;
}

.calendar{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button{
    cursor: pointer;
}

@media (max-width: 900px) {
    body {
        height: 100%;
    }

    .mainElements {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .calendar{
        margin : 30px auto;
    }

    .todayDate{
        font-size: 2rem;
    }
    
    .todayDate>span{
        font-size: 2rem;
    }
    .clocks{
        margin : 0px auto;
    }
    .horizon{
        display: flex;
    }
    .weather{
        margin : 0px auto;
    }
  }
